extends base

block content
    table.itemlist(border="0" cellpadding="0" cellspacing="0")
        - var count = 0
        each element in posts
            - count += 1
            tr#element.postId.athing
                td.title(align="right" valign="top")
                    span.rank #{count}&nbsp
                td.votelinks(valign="top")
                    center
                        a#up_element._id(onclick='return vote(event, this, "up")' href="vote?id=" + element._id + "&how=up")
                            .arrow-up(title="upvote")
                td.title
                    if element.__type === 'Url'
                        - element.url = (element.url.indexOf('://') === -1) ? '//' + element.url : element.url;
                        a.storylink(href=element.url) &nbsp#{element.title}&nbsp
                        span.sitebit.comhead
                            | (
                            a(href="from?site=" + element.tld)
                                span.sitestr #{element.tld}
                            | )
                    else
                        a.storylink(href="item?id=" + element._id) &nbsp#{element.title}&nbsp
            tr
                td(colspan="1")
                td.votelinks(valign="top")
                    center
                        a#up_element._id(onclick='return vote(event, this, "up")' href="vote?id=" + element._id + "&how=down")
                            .arrow-down(title="upvote")
                td.subtext
                    span#score_element.postId.score &nbsp#{element.totalLikes} points
                    |  by&nbsp
                    a.hnuser(href="user?id=" + element.owner.username) #{element.owner.username}
                    span.age
                        | &nbsp
                        a(href="item?id=" + element._id) #{timeSince(element.createdAt)}
                    span#unv_element.postId
                    |  |&nbsp
                    if element.totalComments === 0
                        a(href="item?id=" + element._id) discuss
                    else if element.totalComments === 1
                        a(href="item?id=" + element._id) #{element.totalComments} comment
                    else
                        a(href="item?id=" + element._id) #{element.totalComments} comments
            tr.spacer(style="height:12px")