extends base

block content
    tr
        td
            table.itemlist(border="0" cellpadding="0" cellspacing="0")
                - var count = 0
                each element in posts
                    - count += 1
                    tr#element.postId.athing
                        td.title(align="right" valign="top")
                            span.rank #{count}&nbsp
                        td.votelinks(valign="top")
                            center
                                // TODO: Voting endpoint, token should be embeded to request via POST
                                a#up_element.postId(onclick='return vote(event, this, "up")' href="vote?id=#{element.postId}")
                                    .votearrow(title="upvote")
                        td.title
                            a.storylink(href="\\#{element.url}") &nbsp#{element.title}&nbsp
                            span.sitebit.comhead
                                | (
                                // TODO: From site
                                a(href="from?site=tld.me")
                                    span.sitestr tld.me
                                | )
                    tr
                        td(colspan="2")
                        td.subtext
                            span#score_element.postId.score &nbsp#{element.totalLikes} points
                            |  by&nbsp
                            a.hnuser(href="user?id=#{element.owner}") #{element.owner.username}&nbsp
                            span.age
                                - function timeSince(date) {
                                    - let seconds = Math.floor((new Date() - date) / 1000);
                                    - let interval = Math.floor(seconds / 31536000);
                                    - if (interval > 1) return interval + " years ago";
                                    - interval = Math.floor(seconds / 2592000);
                                    - if (interval > 1) return interval + " months ago";
                                    - interval = Math.floor(seconds / 86400);
                                    - if (interval > 1) return interval + " days ago";
                                    - interval = Math.floor(seconds / 3600);
                                    - if (interval > 1) return interval + " hours ago";
                                    - interval = Math.floor(seconds / 60);
                                    - if (interval > 1) return interval + " minutes ago";
                                    - return Math.floor(seconds) + " seconds ago";
                                - }
                                a(href="item?id=#{element.postId}") #{timeSince(element.createdAt)}&nbsp
                            span#unv_element.postId
                            |  |&nbsp
                            // TODO: Hide
                            a(href="hide?id=#{element.postId}" onclick="return hidestory(event, this, #{element.postId})") hide
                            |  |&nbsp
                            // TODO: Detail page
                            a(href="item?id=#{element.postId}") #{element.totalComments} comments
                    tr.spacer(style="height:12px")
                tr.morespace(style="height:10px")
                tr
                    td(colspan="2")
                    td.title
                        a.morelink(href="news?p=2" rel="nofollow") More
