extends base

block content
    if (user !== null)
        form.profileform(method="post" action="/user")
            table(border="0")
                tr.athing
                    td(valign="top") user:
                    td
                        a.hnuser(href="user?id=" + user.username)
                            font(color="#3c963c") #[strong #{user.username}]
                tr
                    td(valign="top") created:
                    td
                        span.age
                            | #{user.timeSince}
                tr
                    td(valign="top") karma:
                    td
                        | #{user.karma}
                tr
                    td(valign="top") about:
                    td
                        if (isOwnProfile)
                            textarea(cols="60" rows="5" wrap="virtual" name="about")
                                | #{user.about}
                        else
                            | #{user.about}

                if (isOwnProfile)
                    tr
                        td(valign="top") email:
                        td
                            | #{user.email}
                    tr
                        td(valign="top") showdead:
                        td
                            select(name="showd")
                                option yes
                                option(selected="" + user.showdead) no
                    tr
                        td(valign="top") noprocrast:
                        td
                            select(name="nopro")
                                option yes
                                option(selected="" + user.noprocrat) no
                    tr
                        td(valign="top") maxvisit:
                        td
                            input(type="text" name="maxv" value="" + user.maxvisit size="16" )
                    tr
                        td(valign="top") minaway:
                        td
                            input(type="text" name="mina" value="" + user.minaway size="16")
                    tr
                        td(valign="top") delay:
                        td
                            input(type="text" name="delay" value="" + user.delay size="16")
                tr
                    td
                    td
                        a(href="submitted?id=" + user.username)
                            u submissions
                tr
                    td
                    td
                        a(href="threads?id=" + user.username)
                            u comments
                if (isOwnProfile)
                    tr
                        td
                            br
                            input(type="submit" value="Update")
        br
        br
