extends base

block content
    if (isOwnProfile && email === undefined)
        table(border="0" cellpadding="0" cellspacing="0")
            tr
                td(bgcolor="#ffffaa")
                    table(cellpadding="5" width="100%")
                        tr
                            td
                                | Please put a valid address in the email field, or we won't be able to
                                | send you a new password if you forget yours.  Your address is only
                                | visible to you and us.  Crawlers and other users can't see it.
    form.profileform(method="post" action="/user")
        table(border="0")
            tr.athing
                td(valign="top") user:
                td
                    a.hnuser(href="user?id=" + user.username)
                        font(color="#3c963c") #{user.username}
            tr
                td(valign="top") created:
                td
                    //TODO: Copied from news.pug  We should move this somewhere else
                    - function timeSince(date) {
                    - let seconds = Math.floor((new Date() - date) / 1000);
                    - let interval = Math.floor(seconds / 31536000);
                    - if (interval >= 1) return interval + " years ago";
                    - interval = Math.floor(seconds / 2592000);
                    - if (interval >= 1) return interval + " months ago";
                    - interval = Math.floor(seconds / 86400);
                    - if (interval >= 1) return interval + " days ago";
                    - interval = Math.floor(seconds / 3600);
                    - if (interval >= 1) return interval + " hours ago";
                    - interval = Math.floor(seconds / 60);
                    - if (interval >= 1) return interval + " minutes ago";
                    - return Math.floor(seconds) + " seconds ago";
                    - }
                    | #{timeSince(user.createdAt)}
            tr
                td(valign="top") karma:
                td
                    | #{user.karma}
            tr
                td(valign="top") about:
                td
                    if (isOwnProfile)
                        textarea(cols="60" rows="5" wrap="virtual" name="about")
                            | #{user.about}
                        font(size="-2")
                            a(href="formatdoc" tabindex="-1")
                                font(color="#afafaf") &nbsp; help
                    else
                        | #{user.about}

            if (isOwnProfile)
                tr
                    td(valign="top") email:
                    td
                        input(type="text" name="uemail" value="" + user.email size="60")
                tr
                    td(valign="top") showdead:
                    td
                        select(name="showd")
                            option yes
                            option(selected="" + user.showdead) no
                tr
                    td(valign="top") noprocrast:
                    td
                        select(name="nopro")
                            option yes
                            option(selected="" + user.noprocrat) no
                tr
                    td(valign="top") maxvisit:
                    td
                        input(type="text" name="maxv" value="" + user.maxvisit size="16" )
                tr
                    td(valign="top") minaway:
                    td
                        input(type="text" name="mina" value="" + user.minaway size="16")
                tr
                    td(valign="top") delay:
                    td
                        input(type="text" name="delay" value="" + user.delay size="16")
            tr
                td
                td
                    a(href="submitted?id=" + user.username)
                        u submissions
            tr
                td
                td
                    a(href="threads?id=" + user.username)
                        u comments

            if (isOwnProfile)
                tr
                    td
                    td
                        a(href="favorites?id=" + user.username)
                            u favorite submissions
                        |  /
                        a(href="favorites?id=" + user.username + "&comments=t") &nbsp;
                            u comments
                        span(style="font-style:italic") &nbsp; (shared)
            else
                tr
                    td
                    td
                        a(href="favorites?id=" + user.username)
                            u favorites

            if (isOwnProfile)
                tr
                    td
                        br
                        input(type="submit" value="update")
    br
    br
