extends base

block content
    if (user !== null)
        form.profileform(method="post" action="/user")
            table(border="0")
                tr.athing
                    td(valign="top") User:
                    td
                        a.hnuser(href="user?id=" + user.username)
                            font(color="#3c963c") #[strong #{user.username}]
                tr
                    td(valign="top") Created:
                    td
                        span.age
                            | #{user.timeSince}
                tr
                    td(valign="top") Karma:
                    td
                        | #{user.karma}
                tr
                    td(valign="top") About:
                    td
                        if (isOwnProfile)
                            textarea(cols="60" rows="5" wrap="virtual" name="about")
                                | #{user.about}
                        else
                            | #{user.about}

                if (isOwnProfile)
                    tr
                        td(valign="top") Email:
                        td
                            | #{user.email}
                tr
                    td
                    td
                        a(href="submitted?id=" + user.username)
                            u Submissions
                tr
                    td
                    td
                        a(href="threads?id=" + user.username)
                            u Comments
                tr
                    td
                    td
                        a(href="favourites?id=" + user.username)
                            u Favourites
                if (isOwnProfile)
                    tr
                        td
                            br
                            input(type="submit" value="Update")
        br
        br
