mixin comment(element, back)
    tr(id=element._id)
        td
            table(border="0")
                tr
                    td.ind
                    td.default
                        div(style="margin-top:2px; margin-bottom:-10px;")
                            span.comhead
                                a.hnuser(href="user?id=" + element.owner.username)
                                    if (element.owner.isAdmin)
                                        font(color="#4A148C") #[strong #{element.owner.username}]
                                    else
                                        font(color="#3c963c") #[strong #{element.owner.username}]
                                | &nbsp(#{element.totalLikes} points)&nbsp
                                span.age
                                    a(href="item?id=" + element.post) #{element.timeSince}
                                span#unv_16847762
                                span.par
                                if (username !== undefined)
                                    |  |&nbsp
                                    a(href='reply?id=' + element._id + '&goto=' + post._id) reply
                                    |  |&nbsp
                                    a(href="vote?id=" + element._id + "&back=" + back + "&how=up&type=comment") upvote
                                    |  |&nbsp
                                    a(href="vote?id=" + element._id + "&back=" + back + "&how=down&type=comment") downvote
                                if (!element.deleted && username === element.owner.username)
                                    |  |&nbsp
                                    a(href="edit?type=comment&id=" + element._id + "&back=" + back) edit
                                    |  |&nbsp
                                    a(href="delete?type=comment&id=" + element._id + "&back=" + back) delete
                        br
                        .comment
                            span.c00
                                if (!element.deleted)
                                    | #{element.comment}
                                else
                                    | [deleted]
                        br
                        each reply in element.replies
                            table.comment-tree(style="margin-left: 20px" border="0")
                                +comment(reply, back)