mixin post(post, back)
    tr(id=post._id).athing
        td.title(rowspan="2")
            if (post.count !== undefined)
                span.rank #{post.count}&nbsp
            else
                span.rank
        td.votelinks(valign="top")
            center
                a(id="up_" + post._id href="vote?id=" + post._id + "&back=" + back + "&how=up")
                    .arrow-up(title="upvote")
        td.title
            if post.__type === 'Url'
                - post.url = (post.url.indexOf('://') === -1) ? '//' + post.url : post.url;
                a.storylink(href=post.url rel="external") &nbsp#{post.title}&nbsp
                span.sitebit.comhead
                    | (
                    a(href="from?site=" + post.tld)
                        span.sitestr #{post.tld}
                    | )
            else
                a.storylink(href="item?id=" + post._id) &nbsp#{post.title}&nbsp
    tr
        td.votelinks(valign="top")
            center
                a(id="down_" + post._id href="vote?id=" + post._id + "&back=" + back + "&how=down")
                    .arrow-down(title="downvote")
        td.subtext
            span(id="score_" + post._id).score &nbsp#{post.totalLikes} points
            |  by&nbsp
            a.hnuser(href="user?id=" + post.owner.username)
                font(color="#3c963c") #[strong #{post.owner.username}]
            span.age
                | &nbsp
                a(href="item?id=" + post._id) #{post.timeSince}
            span(id="unv_" + post._id)
            | &nbsp|&nbsp
            a(href="https://www.google.com/search?q=" + encodeURIComponent(post.title.trim())) web
            if (username !== undefined)
                | &nbsp|&nbsp
                a(href="fave?id=" + post._id + "&back=" + back) favorite
            if (username === post.owner.username)
                |  |&nbsp
                a(href="edit?type=post&id=" + post._id + "&back=" + back) edit
                |  |&nbsp
                a(href="delete?type=post&id=" + post._id + "&back=/") delete
            | &nbsp|&nbsp
            if post.totalComments === 0
                a(href="item?id=" + post._id) discuss
            else if post.totalComments === 1
                a(href="item?id=" + post._id) #{post.totalComments} comment
            else
                a(href="item?id=" + post._id) #{post.totalComments} comments